@import 'tailwindcss';
@source not "../src-tauri";

@theme {
  --color-bg-primary: var(--app-bg-primary);
  --color-bg-secondary: var(--app-bg-secondary);
  --color-surface: var(--app-surface);
  --color-card-active: var(--app-card-active);
  --color-button-text: var(--app-button-text);
  --color-text-primary: var(--app-text-primary);
  --color-text-secondary: var(--app-text-secondary);
  --color-accent: var(--app-accent);
  --color-border-color: var(--app-border-color);
  --color-hover-color: var(--app-hover-color);

  --font-sans: var(--font-family);

  --shadow-shiny: 0 0 24px rgba(255, 255, 255, 0.12);

  --radius-md: 8px;
  --radius-lg: 15px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility slider-input {
  &::-webkit-slider-thumb {
    @apply h-4 w-4 appearance-none rounded-full bg-accent;
    transition:
      transform 150ms ease-in-out,
      background-color 400ms ease-in-out;
    margin-top: -5px;
  }

  &::-moz-range-thumb {
    @apply h-4 w-4 rounded-full bg-accent border-none;
    transition:
      transform 150ms ease-in-out,
      background-color 400ms ease-in-out;
  }

  &.slider-thumb-active::-webkit-slider-thumb {
    @apply scale-110;
  }

  &.slider-thumb-active::-moz-range-thumb {
    @apply scale-110;
  }
}

@utility slider-thumb-active {
  &.slider-input::-webkit-slider-thumb {
    @apply scale-110;
  }

  &.slider-input::-moz-range-thumb {
    @apply scale-110;
  }
}

@utility temperature-gradient-track {
  background: linear-gradient(to right, #2d4a74, #3f94b6, #8a8a8a, #c7c549, #c7863c) !important;
}

@utility tint-gradient-track {
  background: linear-gradient(to right, #448d41, #59d459, #8a8a8a, #9c548a, #be409f) !important;
}

@utility text-shadow-shiny {
  text-shadow: 0 0 18px rgba(255, 255, 255, 0.35);
}

@layer base {
  :where(button, [role='button']):not([disabled]) {
    cursor: pointer;
  }

  html {
    background-color: transparent;
  }
  body {
    background-color: rgba(27, 27, 27, 0.5);
    @apply text-text-primary font-sans;
  }

  *:focus {
    outline: none !important;
  }

  .enable-color-transitions *,
  .enable-color-transitions *::before,
  .enable-color-transitions *::after {
    transition-property: color, background-color, border-color, fill, stroke;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-text-secondary);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.hover-color');
  }
}

@layer components {
  .slider-input::-webkit-slider-thumb {
    @apply h-4 w-4 appearance-none rounded-full bg-accent;
    transition:
      transform 150ms ease-in-out,
      background-color 400ms ease-in-out;
    margin-top: -5px;
  }

  .slider-input::-moz-range-thumb {
    @apply h-4 w-4 rounded-full bg-accent border-none;
    transition:
      transform 150ms ease-in-out,
      background-color 400ms ease-in-out;
  }

  .slider-input.slider-thumb-active::-webkit-slider-thumb {
    @apply scale-110;
  }

  .slider-input.slider-thumb-active::-moz-range-thumb {
    @apply scale-110;
  }

  /*
    Color gradients for the temperature and tint slider
  */
  .temperature-gradient-track {
    background: linear-gradient(to right, #2d4a74, #4993b1, #8a8a8a, #c7c549, #c7863c) !important;
  }
  .tint-gradient-track {
    background: linear-gradient(to right, #458d43, #57ce57, #8a8a8a, #9c548a, #be409f) !important;
  }

  /*
    Color mixer sliders
  */

  .hue-slider-reds {
    background: linear-gradient(to right, hsl(260, 60%, 45%), hsl(0, 60%, 45%), hsl(100, 60%, 45%)) !important;
  }
  .sat-slider-reds {
    background: linear-gradient(to right, hsl(0, 0%, 45%), hsl(0, 60%, 45%), hsl(0, 90%, 45%)) !important;
  }
  .lum-slider-reds {
    background: linear-gradient(to right, hsl(0, 60%, 0%), hsl(0, 60%, 45%), hsl(0, 60%, 80%)) !important;
  }

  .hue-slider-oranges {
    background: linear-gradient(to right, hsl(290, 60%, 45%), hsl(30, 60%, 45%), hsl(130, 60%, 45%)) !important;
  }
  .sat-slider-oranges {
    background: linear-gradient(to right, hsl(30, 0%, 45%), hsl(30, 60%, 45%), hsl(30, 90%, 45%)) !important;
  }
  .lum-slider-oranges {
    background: linear-gradient(to right, hsl(30, 60%, 0%), hsl(30, 60%, 45%), hsl(30, 60%, 80%)) !important;
  }

  .hue-slider-yellows {
    background: linear-gradient(to right, hsl(320, 60%, 50%), hsl(60, 60%, 50%), hsl(160, 60%, 50%)) !important;
  }
  .sat-slider-yellows {
    background: linear-gradient(to right, hsl(60, 0%, 45%), hsl(60, 60%, 45%), hsl(60, 90%, 45%)) !important;
  }
  .lum-slider-yellows {
    background: linear-gradient(to right, hsl(60, 60%, 0%), hsl(60, 60%, 45%), hsl(60, 60%, 80%)) !important;
  }

  .hue-slider-greens {
    background: linear-gradient(to right, hsl(20, 60%, 45%), hsl(120, 60%, 45%), hsl(220, 60%, 45%)) !important;
  }
  .sat-slider-greens {
    background: linear-gradient(to right, hsl(120, 0%, 45%), hsl(120, 60%, 45%), hsl(120, 90%, 45%)) !important;
  }
  .lum-slider-greens {
    background: linear-gradient(to right, hsl(120, 60%, 0%), hsl(120, 60%, 45%), hsl(120, 60%, 80%)) !important;
  }

  .hue-slider-aquas {
    background: linear-gradient(to right, hsl(80, 60%, 45%), hsl(180, 60%, 45%), hsl(280, 60%, 45%)) !important;
  }
  .sat-slider-aquas {
    background: linear-gradient(to right, hsl(180, 0%, 45%), hsl(180, 60%, 45%), hsl(180, 90%, 45%)) !important;
  }
  .lum-slider-aquas {
    background: linear-gradient(to right, hsl(180, 60%, 0%), hsl(180, 60%, 45%), hsl(180, 60%, 80%)) !important;
  }

  .hue-slider-blues {
    background: linear-gradient(to right, hsl(140, 60%, 45%), hsl(240, 60%, 45%), hsl(340, 60%, 45%)) !important;
  }
  .sat-slider-blues {
    background: linear-gradient(to right, hsl(240, 0%, 45%), hsl(240, 60%, 45%), hsl(240, 90%, 45%)) !important;
  }
  .lum-slider-blues {
    background: linear-gradient(to right, hsl(240, 60%, 0%), hsl(240, 60%, 45%), hsl(240, 60%, 80%)) !important;
  }

  .hue-slider-purples {
    background: linear-gradient(to right, hsl(200, 60%, 45%), hsl(300, 60%, 45%), hsl(40, 60%, 45%)) !important;
  }
  .sat-slider-purples {
    background: linear-gradient(to right, hsl(300, 0%, 45%), hsl(300, 60%, 45%), hsl(300, 90%, 45%)) !important;
  }
  .lum-slider-purples {
    background: linear-gradient(to right, hsl(300, 60%, 0%), hsl(300, 60%, 45%), hsl(300, 60%, 80%)) !important;
  }

  .hue-slider-magentas {
    background: linear-gradient(to right, hsl(240, 60%, 45%), hsl(340, 60%, 45%), hsl(80, 60%, 45%)) !important;
  }
  .sat-slider-magentas {
    background: linear-gradient(to right, hsl(340, 0%, 45%), hsl(340, 60%, 45%), hsl(340, 90%, 45%)) !important;
  }
  .lum-slider-magentas {
    background: linear-gradient(to right, hsl(340, 60%, 0%), hsl(340, 60%, 45%), hsl(340, 60%, 80%)) !important;
  }
}

  /*
    Color grading sliders
  */

.cg-hue-gradient {
  background: linear-gradient(to right, hsl(0, 100%, 50%) 0%, hsl(30, 100%, 50%) 8.33%, hsl(60, 100%, 50%) 16.66%, hsl(90, 100%, 50%) 25%, hsl(120, 100%, 50%) 33.33%, hsl(150, 100%, 50%) 41.66%, hsl(180, 100%, 50%) 50%, hsl(210, 100%, 50%) 58.33%, hsl(240, 100%, 50%) 66.66%, hsl(270, 100%, 50%) 75%, hsl(300, 100%, 50%) 83.33%, hsl(330, 100%, 50%) 91.66%, hsl(360, 100%, 50%) 100%) !important;
}

.cg-sat-gradient {
  background: linear-gradient(to right, 
    hsl(var(--cg-hue), 0%, 50%) 0%, hsl(var(--cg-hue), 100%, 50%) 100%) !important;
}

.cg-lum-gradient {
  background: linear-gradient(to right, 
    hsl(var(--cg-hue), var(--cg-sat), 0%) 0%, hsl(var(--cg-hue), var(--cg-sat), 50%) 50%, hsl(var(--cg-hue), var(--cg-sat), 100%) 100%) !important;
}

@layer utilities {
  .text-shadow-shiny {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.35);
  }

}
